.st-gravity-preview {
  position: fixed;
  z-index: 10000;
  box-sizing: border-box;
  pointer-events: none;
  will-change: left, top;
  overflow: hidden;
  opacity: 1 !important;
}

.st-gravity-preview__inner {
    opacity: 1 !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  display: block;
}
